{% extends 'base.html' %}


{% block demo %}
{% load static %}
<input class="btn btn-primary" type="submit" value="提交 DEMO for below samples"  onclick="location.href='/'"></button> <br><br>
<img src="{% static 'image/COVID119.jpg' %}" alt="COVID119.jpg" width="200" height="200" >
<img src="{% static 'image/Pneumonia.jpg' %}" alt="Pneumonia.jpg" width="200" height="200" >
<img src="{% static 'image/Normal.jpg' %}" alt="Normal.jpg" width="200" height="200" >
<img src="{% static 'image/dog_2.jpg' %}" alt="dog_2.jpg"width="200" height="200" > 
{% endblock %}


{% block upload %}
<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <br />
    <div class="form-row">
        <div class="form-group col-md-4">
        </div>
        <div class="form-group col-md-4">
            <input class="btn btn-primary" type="submit" value="提交 Submit" onclick="location.href='/'" />
        </div>
        <div class="form-group col-md-4">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
        </div>
        <div class="form-group col-md-4" >
            {{ form.image }}   <!-- views.py function index -->
        </div>
        <div class="form-group col-md-4">
        </div>
    </div>
</form>
{% endblock  %}


{% block content %}
<div class="row">
<img class="card-img-top" src="{{preview.image.url}}"> <!-- show the last-->


<!--show all photos-->
<!--    {% for photo in photos %}

    <br />
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ photo.image.url }}" />
        </div>
    </div>
    {% endfor %}
    -->
</div>

{% endblock  %}



